<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Books</title>
  </head>

  <body>

    <h1> These are some books </h1>

    <button type="button"> 
      <a th:href="@{/myCart}">
        View Cart
      </a>
    </button>

    <dl th:each="book : ${booksList}">
      <dt th:text="${book.title}">title</dt>
      <dt th:text="${book.author}">author</dt>
      <dt th:text="${book.price}">price</dt>
      <dt th:text="${book.genre}">genre</dt>
      <dt>
        <form action=# method="post" th:action="@{/addToCart}" th:object="${book}">
          <input type="hidden" name="bookId" th:value="${book.id}">
          <button type="submit">Add to Cart</button>
        </form>

      </dt>
      <hr>
    </dl>

  </body>

</html>
