<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>

    <h1 style="text-align:center;">
      Book Store
    </h1>

  </head>



  <body>

    <p>Welcome to the bookstore!</p>


    <div>
      <a th:href="@{/fictions/bookDetails}">
        <button>Fictions</button>
      </a>
    </div>

    <div>
      <a th:href="@{/nonfictions/bookDetails}">
        <button>Non Fictions</button>
      </a>
    </div>

    <div>
      <a th:href="@{/registration}">
        <button>Register Here</button>
      </a>
    </div>

  </body>

</html>